<!DOCTYPE html>
<html>
<head>
 <title>{{ page.title }}</title>
 <link rel="stylesheet" type="text/css" href="/css/main.css">
 </head>
  <body>
  <nav>
    		<ul>
        		<li><a href="/">Глагне</a></li>
	        	<li><a href="/about">Об авторе</a></li>
        		<li><a href="/creepy">Крипота</a></li>
        		<li><a href="/links">Схоронил</a></li>
    		</ul>
		</nav>
<div class="container">
    	{{ content }}
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:andyleo.andyleo@gmail.com">Email</a></li>
        		<li><a href="https://vk.com/godmd">VK</a></li>
			</ul>
		</footer>
	</body>
</html>
