<!DOCTYPE html>
<html>
<head>
 <title>{{ page.title }}</title>
 <link rel="stylesheet" type="text/css" href="/css/main.css">
 <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!-- <link rel="icon" href="/PATH_TO_ANIMATED_FAVICON/favicon.ico" type="image/x-icon"> --> 
</head>
  <body>
  <nav>
    		<ul>
        		<li><a href="/" style="color: red">Глагне</a></li>
	        	<li><a href="/about">Об авторе</a></li>
			<li><a href="/posts">Статьи</a></li>
			<li><a href="https://vk.com/godinsideyou">Стихи</a></li>
        		<li><a href="/creepy">Крипота</a></li>
        		<li><a href="/links">Схоронил</a></li>
						
    		</ul>
		<footer></footer></nav>
<div class="container">
    	{{ content }}
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:andyleo.andyleo@gmail.com">Email</a></li>
        		<li><a href="https://vk.com/godmd">VK</a></li>
                        <li><a href="https://github.com/G0DMD/G0DMD.github.io">Гитхаб сайта</a></li>
			</ul>
		</footer>
	</body>
</html>
